/Operadores/nbproject/private/
/Operadores/build/
/Ternario/nbproject/private/
/Ternario/build/
/Merceria/nbproject/private/
/Merceria/build/
/Estacionamiento/nbproject/private/
/Vectores/nbproject/private/
/Vectores/build/
/Integrador/nbproject/private/
/Integrador/build/
/Poo/nbproject/private/
/Poo/build/
